:root.mage {
    
    --main-color: #FBC5E3;
    --main-secondary-color: #FBC5E3;
    --background-color: #10141f;
    --background-dark-color: #090a14;
    --background-light-color: #151d28;
    --placeholder-color: #FBC5E3;
    --item-selected-color: #202e37;
    --text-font-size: 12px;
    --text-color: #FBC5E3;
    --text-light-highlight-color: #FBC5E3;
    --text-dark-highlight-color: #533e4a;
    --text-error-color: #2f348a;
    --button-color: #6FD404;
    --button-hover-color: #d62316;
    --button-hover-background-color: #6a8a48;
    --you-color: #FBC5E3;
    --you-background-color: #503042;
    --promoted-color: #6FD404;
    --promoted-background-color: #59ff002e;
    --eta-best: #548e40;
    --eta-mid: #bf7a23;
    --eta-worst: #b22145;
    --header-color: #FBC5E3;
    --header-font-size: 12px;
    --navbar-color: #FBC5E3;
    --offcanvas-background-color: #000000;
    --link-hover-color: #006eff;
    --link-color: #0099ff;
}

:root.ladder-row[data-v-286006ac] {
    height: 80%;
    max-height: 80%;
}
:root.mage .col-6 {
    width: 110%;
}
:root.mage .chatInputPlaceholder[data-v-6bca8f8a] {
    font-size: 12px;
}
